


.pad1 {
    padding-top: 20px;
}
.line1 {
    width: 95%;
    height: 5px;
    display: block;
    text-align: center;
    border-bottom: 1px solid rgb(240, 240, 240);
}
.holderL {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.topbar {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}
.holder1 {
    width: 50%;
    min-width: 200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: left;

}
.holder2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: right;

}


.titleText {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 500;
    display: inline-block;
    align-self: flex-end;
    margin-left: 15%;
}
.titleText2A {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 500;
    display: inline-block;
    align-self: flex-end;
    color: gray;
    margin-right: 15%;
    word-wrap: normal;
}
.titleText2B {
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 500;
    display: inline-block;
    align-self: flex-end;
    color: lightgray;
    margin-right: 15%;
    word-wrap: normal;
}

.holder3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.holder3B {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img1 {
    width: 400px;
    height: 400px;
    margin-top: 70px;
}
.img2 {
    margin: 20px;
    width: 120px;
    min-width: 120px;
    height: 120px;
}
.bodyText1 {
    font-size: 20px;
    font-weight: 300;
    font-family: "Roboto";
    padding-bottom: 20px;
}
.bodyText2 {
    font-size: 20px;
    font-weight: 300;
    font-family: "Roboto";
    padding-bottom: 20px;
    line-height: 1.2;
    /* width: 50%; */
}
.holderB {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* padding-top: 50px; */
}
.pad2 {
    padding-top: 80px;
    /* border: 1px solid red; */
}
.pad2C {
    padding-top: 60px;
    /* border: 1px solid red; */
}
.pad2B {
    padding-top: 40px;
    /* border: 1px solid red; */
}
.pLink {
    /* border: 2px solid orange; */
}
.holderP {
    display: flex;
    flex-direction: row;
    width: 50%;
    min-width: 600px;
    border: 1px solid rgb(240, 240, 240);
    cursor: pointer;
    /* border: 2px solid red; */
    text-decoration: none;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 10px 1px  rgb(240, 240, 240);
}
.holderP:hover {
    transform: scale(1.02);
}
.holderP2 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 76%;
    /* border: 2px solid orange; */
}
.holderP3 {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    /* border: 2px solid orange; */
}
.pTag1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 20px;
}
#tag1A {
    color: white;
    background-color: green;
}
#tag1B {
    color: white;
    background-color: maroon;
}
#tag2A {
    color: white;
    background-color: lightcoral;
}
#tag2B {
    color: white;
    background-color: purple;
}
.pEmpty {
    padding-right: 4px;
}
.pText1 {
    margin-top: 16px;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 500;
    color: black;
    text-decoration: none;
    max-width: 96%;
    /* border: 1px solid red; */
}
.pText2 {
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 300;
    color: black;
    text-decoration: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: 16px;
    max-width: 96%;
    /* border: 1px solid red; */
}
.myButton {
    background-color: green;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 50px;
}
